<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.exrick.xboot.modules.base.dao.mapper.ApplyLeaveMapper">


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, process_instance_id, title, user_id, user_name, days, start_time, end_time, leave_type, reason, status, create_time, update_time, submit_time
    </sql>

</mapper>
